* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  font-weight: 200;
}

p {
  font-weight: 200;
  max-width: 650px;
}

body {
  display: flex;
  gap: 1rem;
}

nav {
  display: flex;
  position: sticky;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;
  background-color: #222;
  width: max-content;
}
nav .logo-container {
  width: 100%;
  position: relative;
  z-index: 1;
  height: min-content;
  background-size: cover;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/3c/Celtic_Park3.jpg");
  background-color: #333333;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .logo-container .layer {
  background-color: rgba(0, 0, 0, 0.89);
  opacity: 0.6;
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
}
nav .logo-container .logo {
  height: 50px;
  z-index: 4;
  aspect-ratio: 1;
  align-self: center;
}
nav .container {
  box-sizing: border-box;
  padding: 1rem 2rem;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #333;
}
nav .container a {
  color: #f3f3f3;
}
nav ul {
  display: flex;
  flex-direction: column;
}
nav ul li {
  list-style: none;
  width: 200px;
  padding: 1rem 2rem;
  transition: 0.4s;
}
nav ul li:hover {
  background-color: #333;
}
nav ul li a {
  color: #f3f3f3;
  text-decoration: none;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: calc(100% - 200px);
  max-width: 100%;
  box-sizing: border-box;
  position: relative;
  padding: 2rem 2rem 2rem 0;
}
.main-content .match-day {
  height: calc(100vh - 4rem);
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  grid-template-areas: "main p-1" "main p-2";
}
.main-content .match-day .panel {
  height: 100%;
  width: 100%;
  padding: 1rem;
  background-color: #eaeaea;
  border-radius: 0.5rem;
}
.main-content .match-day .panel.panel-main {
  grid-area: main;
}
.main-content .match-day .panel.panel-1 {
  grid-area: p-1;
}
.main-content .match-day .panel.panel-2 {
  grid-area: p-2;
}

#transfers {
  /*thead{
    display: none;
    overflow: hidden;
  }*/
}

#transfers_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
  max-height: 80vh;
  overflow: scroll;
}
#transfers_wrapper .table-footer {
  background-color: #fff;
  width: 100%;
}
#transfers_wrapper .player_panel {
  display: flex;
  box-sizing: border-box;
  padding-right: 1rem;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  background-color: #f0f0f0;
}
#transfers_wrapper .player_panel .container {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 1rem;
}
#transfers_wrapper .player_panel .container .img-container {
  height: 100%;
  position: relative;
  width: 80px;
  aspect-ratio: 1;
}
#transfers_wrapper .player_panel .container .img-container img {
  position: absolute;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
#transfers_wrapper .player_panel .container .player-information {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
#transfers_wrapper .player_panel .container .player-information .player-title {
  color: #333333;
}
#transfers_wrapper .player_panel .container .player-information .player-club {
  opacity: 0.5;
}

.insert-container {
  overflow: hidden;
  width: 100%;
  margin-left: -2rem;
  gap: 1rem;
  max-height: 100vh;
  align-items: center;
  padding-right: 1rem;
  box-sizing: border-box;
  display: flex;
}
.insert-container .img-container {
  position: relative;
  width: 50%;
  height: 100%;
  max-height: 100vh;
}
.insert-container .img-container img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: grayscale(100%);
}
.insert-container .form-create-player {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  height: 100%;
  justify-content: space-between;
}
.insert-container .form-create-player h3 {
  font-size: 3rem;
  font-weight: bolder;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.insert-container .form-create-player .input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
}
.insert-container .form-create-player input {
  padding: 0.75rem 0.5rem;
  border: none;
  width: 100%;
  border-radius: 0.5rem;
  background-color: #f3f3f3;
}
.insert-container .form-create-player .btn {
  background-color: #333333;
  text-align: center;
  text-decoration: none;
  color: #f3f3f3;
  border: 2px solid #333333;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 1rem;
  border-radius: 0.5rem;
}
.insert-container .form-create-player .btn:hover {
  transition: 0.4s;
  color: #333333;
  background-color: #f3f3f3;
}
.insert-container .form-create-player .flex {
  display: flex;
  gap: 1rem;
}
.insert-container .form-create-player .flex input {
  width: 100%;
  padding: 0.75rem 0.5rem;
}

/*# sourceMappingURL=style.css.map */
